.app-header {
  text-align: center;
  color: black;
}

.nav-page{
  z-index: 0;
}

.spacer{
  height : 20px;
  width : 100%;
}

.sub-center {
  top : 50%;
  left : 35%;
}

.App{
  background-image: url('./images/manifesto.jpeg');
   /* Full height */
   height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}

.App-hover{
  background-image: url('./images/manifesto_hover.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.logo{
  position : absolute;
  left : 50%;
}


.App > h1{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  transform: scale(3);
  text-decoration: underline;
  border: 5px solid whitesmoke;
}

.popup{
  top : 50%;
  left : 50%
}

.t-box{
  position: fixed;
  top : 60%;
  left : 10%;
  transform: scale(1.2);
  font-weight:lighter;
}

.about-text{
  margin-right: 100px;
}

.h-0{
  height : 0px;
}

.t-box > p{
  background-color: rgba(1, 1, 1, 0.7);
}

.home-img{
  background-image: url('./images/walk.jpeg') ;
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img > p {
  text-decoration: underline;
  border: 5px solid whitesmoke;
}

.ins-img{
  height : 900px;
}

.body{
  color: black;
}

.bg-black {
  background-color : black;
}

.torch{
  height: 200px;
  width : 200px;
  background-color: red;
  border-radius: 100%;
  opacity: 30%;
  z-index : 5;
}

.art-container{
  width: 2715px;
  height: 1920px;
  cursor: none;
}

.int-red{
  left: 0;
  right : 0;
  mix-blend-mode: multiply;
  z-index: 1;
}

.int-green{
  left: 0;
  right : 0;
  mix-blend-mode: multiply;
  z-index: 2;
}

.int-blue{
  left: 0;
  right : 0;
  mix-blend-mode: multiply;
  z-index: 3;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: #ccc;
}

.popup{
  position : fixed;
  width: 25%;
  margin: auto;
  z-index: 3;
  left : 40%;
  top : 40%;
}

.popup > button{
  position: absolute;
  left : 100%;
}

.player-wrapper{
  position: relative;
  padding-top: 60% /* Player ratio: 100 / (1280 / 720) */
}

.video-player{
  position: absolute;
  top: 0;
  left: 0;
}

.prev{
  top : 50%;
}

.next{
  top : 50%;
  right : 0;
}


.ml-auto{
  margin-left: auto !important;
}

.descbutt{
  right: 5px;
}

.bg-sub{
  background-color: rgba(1, 1, 1, 0.1);
}